@import "./../../Global/style/Global.scss";
.About {
  background-color: $background-structure;
  display: flex;
  flex-direction: column;
  font-family: $font-family-header;
  align-items: center;
  justify-content: center;
  @extend %structure;
}
.About {
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 24px;
    a {
      color: $font-active-color;
      margin-right: 10px;
    }
  }
  span {
    font-family: $font-family-special;
    font-size: $font-size-special;

    color: #7903f2;
    background-image: -webkit-linear-gradient(
      0deg,
      #7903f2 0%,
      #5d7684 50%,
      #e722c4 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }
}
