.Main {
  display: grid;
  grid-gap: 15px 20px;
  grid-template-areas:
    "header header header header"
    "sidebar main main hidden"
    "footer footer footer footer ";
  grid-template-columns: minmax(200px, 1fr) 2fr 2fr minmax(200px, 1fr);
  //grid-template-rows: 80px minmax(600px, auto) 10%;
  grid-template-rows: 80px minmax(600px, auto) 20%;
}

.Main > div:nth-child(1) {
  grid-area: header;
}
.Main > div:nth-child(2) {
  grid-area: sidebar;
}
.Main > div:nth-child(3) {
  grid-area: main;
}
.Main > div:nth-child(4) {
  grid-area: hidden;
}
.Main > div:nth-child(5) {
  grid-area: footer;
}
