@import "./../../Global/style/Global.scss";
.Lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-header;
  padding: 10px;
  @extend %structure;
  background-color: $background-structure;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      @extend %img-structure-minor;
      border: 2px solid $border-purple;
    }
    img:first-child {
      border: 3px solid $border-gold;
    }
  }
  h2 {
    font-size: 48px;
  }
  img {
    width: 400px;
    height: 350px;
    border: 2px solid $border-purple;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  p {
    font-size: $font-size-major;
    span {
      font-size: $font-size-header;
    }
  }
}
