@import "./../../Global/style/Global.scss";
.UserProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  width: 600px;
  padding: 20px 30px;
  margin: auto;
  background-color: $background-structure;
  @extend %structure;
  & > a {
    position: absolute;
    top: 10px;
    right: 10px;
    svg {
      @extend %img-structure-minor;
      fill: $font-default-color;
      opacity: 0.3;
      transition: 0.3s;
    }
    svg:hover {
      opacity: 1;
    }
  }
}
.Content {
  display: flex;
  flex-direction: column;
  p {
    margin-top: 5px;
    font-size: 14px;
    font-family: $font-family-simple;
  }
  img {
    @extend %img-structure-main;
    @extend %structure;
    margin-right: 20px;
  }
  h2 {
    font-size: $font-size-major;
    font-family: $font-family-major;
  }
  a {
    font-family: $font-family-header;
    text-decoration: none;
    color: white;
  }
}
.Actions {
  margin: auto 0;
  display: flex;
  flex-direction: row;

  button {
    margin-right: 10px;
  }
}
