@import "./../../Global/style/Global.scss";
.Room {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  font-size: $font-size-header;
  font-family: $font-family-major;
  align-items: center;
  gap: 20px;
  padding: 5px;
  margin: 20px 20px;
  & div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @extend %structure;
  img {
    @extend %img-structure-minor;
    border: 2px solid $border-purple;
  }
}
