@font-face {
  font-family: "Sans Narrow";
  src: url("./../../assets/fonts/PTSansNarrow-Regular.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./../../assets/fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Alfa Slab One";
  src: url("./../../assets/fonts/AlfaSlabOne-Regular.ttf");
}
@font-face {
  font-family: "Arimo";
  src: url("./../../assets/fonts/Arimo-Regular.ttf");
}
//font
$font-default-color: rgb(195, 196, 200);
$font-ui-color: white;
$font-active-color: #07b1ca;

$font-family-special: "Alfa Slab One";
$font-family-major: "Sans Narrow";
$font-family-header: "Source Sans Pro";
$font-family-simple: "Arimo";
$font-size-header: 18px;
$font-size-major: 24px;
$font-size-minor: 10px;
$font-size-special: 96px;

%font-active {
  color: $font-active-color;
  transition: all 0.2s;
  text-shadow: 0px 0px 1px $font-active-color;
}

//background
$background-body: rgb(24, 25, 29);
$background-structure: rgb(33, 34, 38);
$shadow-structure: rgba(7, 177, 202, 0.5);
%structure {
  border-radius: 6px;
  color: $font-default-color;
}

%error {
  -webkit-box-shadow: 0px 0px 8px 2px red;
  -moz-box-shadow: 0px 0px 8px 2px red;
  box-shadow: 0px 0px 8px 2px red;
}
%default {
  -webkit-box-shadow: 0px 0px 8px 2px rgb(195, 196, 200);
  -moz-box-shadow: 0px 0px 8px 2px rgb(195, 196, 200);
  box-shadow: 0px 0px 8px 2px rgb(195, 196, 200);
}
%help {
  -webkit-box-shadow: 0px 0px 8px 2px #6357a9;
  -moz-box-shadow: 0px 0px 8px 2px #6357a9;
  box-shadow: 0px 0px 8px 2px #6357a9;
}

//UI
$border-purple: #6357a9;
%button {
  background-color: $border-purple;
  padding: 10px 15px;
  border: none;
  border-radius: 24px;
  color: $font-ui-color;
  font-size: $font-size-major;
  cursor: pointer;
  font-family: $font-family-header;
}
%input {
  border-radius: 24px;
  border: 1px solid #26272b;

  padding: 15px 20px;
  color: $font-ui-color;
  background-color: $background-structure;
}
//img
%img-structure-main {
  width: 200px;
  height: 200px;
  border: 2px solid $border-purple;
  border-radius: 6px;
  display: block;
}
%img-structure-minor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
